# Terraform / Cloud
TF_VAR_wg_api_token='Q4yL8pN2vR7mC1tX9sD5hK3zB6fJ0wE4uA8nP2rT'
TF_VAR_grafana_admin_password='M1stral-Harbor-Signal-42'
TF_VAR_admin_ssh_cidr='["203.0.113.10/32"]'
TF_VAR_enable_registration_api=false
TF_VAR_wg_api_cidr=198.51.100.20/32
TF_VAR_registration_api_tls_port=443
TF_VAR_registration_api_domain='vpn-api.example.com'
TF_VAR_wireguard_network=10.8.0.0/24
TF_VAR_wireguard_client_cidr=10.8.0.2/32

# Monitoring
GRAFANA_ADMIN_PASSWORD='M1stral-Harbor-Signal-42'

# Edge runtime
WIREGUARD_PORT=51820
WIREGUARD_ALLOWED_IPS=10.8.0.0/24
WIREGUARD_API_SCHEME=https
WWAN_APN=internet
SSH_ADMIN_PORT=22
