# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
tfplan
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate.d/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables
*.tfvars
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
# node_modules
*node_modules/ 

# zip files
*.zip

# Logs
logs/

plans/

dataset/
