# Terraform
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/
.terraform.lock.hcl

# Variables
*.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
# node_modules
*node_modules/ 

# zip files
*.zip

# Logs
logs/

plans/

dataset/
