[Unit]
Description=WWAN QMI Auto-Connect
Wants=network-online.target
After=network.target network-online.target multi-user.target
StartLimitIntervalSec=120
StartLimitBurst=5

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/wwan
ExecStart=/usr/local/bin/wwan-start.sh
ExecStop=/usr/local/bin/wwan-stop.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=10
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
