[Unit]
Description=WWAN QMI Auto-Connect
After=network.target network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wwan-start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
